<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
</head>
<body>
    <header>
        <nav >
            <div class="col-xs-12"> 
                <ul class="menu">
                    <img src="{% static 'img/logo3.png' %}" class="img-small" alt="">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'somos' %}">Quienes somos</a></li>
                    <li><a href="{% url 'contactenos' %}">Contáctanos</a></li>
                    <li><a href="{% url 'registro' %}">Mi cuenta</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="no-xs col-sm-12 centrar">
        <h1>
             Registro de Usuario
        </h1>
   
        <div class="container">
            <form action="" method="GET" id="formulario">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" name="nombre" placeholder="Ingrese su Nombre">
                  </div><div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" name="apellido" placeholder="Ingrese su Apellido">
                </div><div class="form-group">
                    <div class="form-group"></div>
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="Ingrese su Correo">
                </div><div class="form-group">
                  <label for="fnacimiento">Fecha Nacimiento</label>
                  <input type="date" class="form-control" name="fnacimiento">
                </div>
              <div class="form-group">
            </div><div class="form-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" class="form-control" name="password" placeholder="Ingrese su Contraseña">
          </div>
              </div>
            <button type="reset" class="btn btn-warning">Limpiar</button>
            <button class="btn btn-primary" type="submit">Registrar</button>
            <br>
        </div>
        <br>
     
   
    <footer class="barraInferior">
      <div class="col-xs-12 col-sm-4"><h3 class="texto-blanco"></h3></div>
      <p class="col-xs-12 col-sm-4">Desarrollo web y mobile, Duoc UC</p class="col-xs-12 col-sm-4 no-xs">
        <div class="row verde-main middle-xs">
          <div class="col-xs-12 col-md-3">
              <h3>+56 9 32145978</h3>
          </div>
          <div class="col-xs-12 col-md-6">
                  <h3></h3>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="row center-xs">
                  <div class="col-xs-1 col-md-2">
                      <a href="https://www.facebook.com" ><i class="fab fa-2x fa-facebook-square"></i></a>
                  </div>
                  <div class="col-xs-1 col-md-2">
                      <a href="#" ><i class="fab fa-2x fa-google-plus-g"></i></a>
                  </div>
                  <div class="col-xs-1 col-md-2">
                      <a href="https://www.instagram.com/?hl=es-la" >    <i class="fab fa-2x fa-instagram"></i></a>
                  </div>
                  <div class="col-xs-1 col-md-2">
                      <a href="#" ><i class="far fa-2x fa-envelope"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </footer>


<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>