<!DOCTYPE html>
{% load static %}
<html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Pignus</title>
            <link rel="stylesheet" href="{% static 'css/boots' %}trap.min.css">
            <link rel="stylesheet" href="{% static 'css/flexb' %}oxgrid.css">
            <link rel="stylesheet" href="{% static 'css/style' %}.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
        </head>
        <body>
            <header>
                <nav >
                    <div class="col-xs-12"> 
                        
                        <ul class="menu">
                            <img src="{% static 'img/logo3.png' %}" class="img-small" alt="">
                            <li><a href="{% url 'home' %}">Inicio</a></li>
                            <li><a href="{% url 'somos' %}">Quienes somos</a></li>
                            <li><a href="{% url 'contactenos' %}">Contáctanos</a></li>
                            <li><a href="{% url 'registro' %}">Mi cuenta</a></li>
                        </ul> 
                    </div>
                </nav>
            </header>
            <div class="no-xs col-sm-12 centrar">
                <h1>
                    Con Pignus contarás con cobertura 24/7 los 365 dias del año
                </h1>
            </div class="col-xs-12 col-sm-4 no-xs">
            <div id="carouselExampleInterval" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                    <img src="{% static 'img/7.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                    <img src="{% static 'img/8.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/9.jpg' %}" class="d-block w-100" alt="...">
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row main">
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 texto-izquierda margin-top-xs">

                    </div>
                    <br>
                    <div class="media">
                        <img src="{% static 'img/4.jpg' %}" class="align-self-center mr-3 nosotros" alt="imagen Nosotros">
                        <div class="media-body">
                            <h5 class="mt-0"><b>NOSOTROS</b></h5>
                            <p>
                                PIGNUS. Es una empresa constituida en la Región Metropolitana durante el año 2020, abarcando la seguridad del hogar y de las empresas a cargo de las Camaras de Seguridad (CCTV). Nuestro enfoque es que los clientes se sientan confortables bajo la vista de las Camaras.
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="media">
                        <div class="media-body">
                            <br>
                            <h5 class="mt-0 mb-1"><b>MISIÓN</b></h5>
                            Nuestra misión es otorgar soluciones a su seguridad mediante monitoreo con Camaras de Seguridad las cuales podra vizualizar desde su telefono movil. Ofreciendo la mejor calidad en imagenes, ademas de consolidar una relación a largo plazo con nuestros clientes sumando una labor de nuestra área comercial y oportuna respuesta de nuestra área técnica, otorgando un nivel de excelencia en la gestión post-venta.
                        </div>
                        <img class="mision" src="{% static 'img/5.jpg' %}" class="ml-3" alt="...">
                    </div>
                    <br>
                </div>
                <div class="bg-color"></div>
            
                <div class="container">
                    <div class="row">
                        <img src="{% static 'img/6.jpg' %}" class="align-self-center mr-3 vision" alt="imagen Nosotros">
                        <div class="col-md-6 no-padding">
                            <h4><strong>¿Por qué elegirnos?</strong></h4>
                            <div class="because-item animate">
                                <div class="item-number">
                                    <span></span>
                                </div>
                                <div class="item-text">
                                    <h5><b>Monitoreo 24/7</b></h5>
                                    <p>Te notificaremos si sucede un evento real en tu negocio en cualquier momento.</p>
                                </div>
                            </div>
                            <div class="because-item animate">
                                <div class="item-number">
                                    <span></span>
                                </div>
                                <div class="item-text">
                                    <h5><b>Conexión a Carabineros</b></h5>
                                    <p>Mediante el sistema ALPHA III logramos la mejor coordinación y respuesta. </p>
                                </div>
                            </div>
                            <div class="because-item animate">
                                <div class="item-number">
                                    <span></span>
                                </div>
                                <div class="item-text">
                                    <h5><b>Control total vía app Pignus</b></h5>
                                    <p>Arma, desarma y programa reglas a la medida  de forma remota y confiable. También puedes pedir imágenes y videos.</p>
                                </div>
                            </div>
                            <div class="because-item animate">
                                <div class="item-number">
                                    <span></span>
                                </div>
                                <div class="item-text">
                                    <h5><b>Cámaras con grabación en la nube</b></h5>
                                    <p>Con nuestras cámaras adicionales de visión 360° puedes ver todo lo que ocurre en un lugar, controlarlas desde tu celular y mantener grabación en la nube.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <footer class="barraInferior">
                <div class="col-xs-12 col-sm-4"><h3 class="texto-blanco"></h3></div>
                <p class="col-xs-12 col-sm-4">Desarrollo web y mobile, Duoc UC</p class="col-xs-12 col-sm-4 no-xs">
                <div class="row verde-main middle-xs">
                    <div class="col-xs-12 col-md-3">
                        <h3>+56 9 32145978</h3>
                    </div>
                    <div class="col-xs-12 col-md-6">
                            <h3></h3>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="row center-xs">
                            <div class="col-xs-1 col-md-2">
                                <a href="https://www.facebook.com" ><i class="fab fa-2x fa-facebook-square"></i></a>
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <a href="#" ><i class="fab fa-2x fa-google-plus-g"></i></a>
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <a href="https://www.instagram.com/?hl=es-la" >    <i class="fab fa-2x fa-instagram"></i></a>
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <a href="#" ><i class="far fa-2x fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/app.js' %}"></script>
        </body>
</html>